

  .col-md-8 {
    /* border: solid red; */
    margin-top:80px;
    padding:50px;

  }
  
.col-md-4 {
  margin-top:80px;
  padding: 40px;

}


#image1 {
  height: 10vw;
  object-fit: contain;
}

.card-img-top {
  object-fit: cover;
  overflow: hidden;
}

container {
  padding:10px
}

